#form
	= simple_form_for @post, html: { multipart: true } do |f|
		%h3 Title
		%h3= f.input :title, label: false
		%h3 Content
		%h3= f.input :content, label: false
		%h3= f.submit
		= f.label "Attach Image", :image
		= f.file_field :image	
