#post_content
	.original_post
		%h1= @post.title
		.info
			= @post.user.email
			at 
			= @post.created_at.strftime("%H:%M %d-%b-%y")

		.buttons
			= link_to "Edit", edit_post_path(@post)
			= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?"}

		.image
			- if @post.image?
				= image_tag @post.image.url(:medium)	

		%p= @post.content


	#comments
		%h2
			= @post.comments.count
			Comments
		= render @post.comments


		%h3 Reply to thread
		= render "comments/form"