!!!
%html
%head
	%title TCD Hub
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	%link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext", type: "text/css"}
	%link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"}
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	= javascript_include_tag 'jquery'
	= javascript_include_tag 'jquery.sticky'
	-# <META HTTP-EQUIV="refresh" CONTENT="20">

	:javascript
		$(window).load(function(){
		$("header").sticky({ topSpacing: 0 });
		});

%body

	%header.main_header.clearfix
		.wrapper
			#logo
				%p= link_to 'tcd hub', root_path
			#buttons
				- if user_signed_in?
					= link_to current_user.email
				- else
					= link_to "Sign Up", new_user_registration_path
					= link_to "Sign In", new_user_session_path

	.wrapper
		%p.notice= notice
		%p.alert= alert

	.wrapper
		=yield